.outer_wrapper{
    width: 80%;
    margin: auto;
    margin-top:70px;
    padding: 5px;
    height: 250px;
    background-color: #fff;
    border: 1px solid rgb(239 239 239);

}

.top_section_wrapper{
    display: flex;
    height: 65%;
    width: 100%;
}

.section1,.section2{
    flex:1;
}

.section1{
    display: flex;
    flex-direction: column;
}

.place, .date{
    width: 100%;
    height: 18px;
}

.place{
    margin-top: 10px;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.date{
    margin-top: 2px;
    font-size: 15px;
    color:#7d8083;
}

.title{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Circular-Loom';
    align-items: center;
}

.title >img{
    width:30px;
    height: 30px;
    margin-right: 12px;
}

.bottom_section{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height:35%;
}

.temprature >p{
    font-size: 26px;
    margin-top: 8px;
}


.feels_like{
    margin-top: -6px;
    font-size: 14px;
    color:#7d8083;
}

.section2{
    position: relative;
    text-align: center;
}

.weather_icon{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}

.weather_icon >p{
    margin-top: -15px;
    color:#7d8083;

}